@page "/sensor"

@inject IHttpClientFactory HttpFactory

<h1>Dane z Sensorów</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @if (sensors is not null && sensors.Any())
        {
            foreach (var sensor in sensors)
            {
                <tr>
                    <td>@sensor.Id</td>
                    <td>@sensor.Name</td>
                    <td>@sensor.Value</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="3">Błąd połączenia</td></tr>
        }
    </tbody>
</table>

@code {
    private List<SensorData> sensors = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var httpClient = HttpFactory.CreateClient("nieWiem");
            sensors = await httpClient.GetFromJsonAsync<List<SensorData>>("api/Sensor/GetAll");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd podczas pobierania danych: {ex.Message}");
        }
    }

    public class SensorData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public object Value { get; set; }
    }
}